<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {% block head %}{% endblock %}
</head>
<body>
<div class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <a href="{{ url_for('index') }}"><h1 class="title">manim-gallery</h1></a>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
</body>
</html>