{% extends 'base.html' %}

{% block head %}
    <style type="text/css">
        {{ style }}
    </style>
{% endblock %}

{% block content %}
    <section class="section" id="index">
        <div class="container">
            <h2 class="title">{{ example.title }}</h2>
            <div class="columns">
                <div class="column is-half">
                    {% for scene in example.scenes %}
                        <code>class {{ scene.name }}(Scene):</code>
                        <a href="{{ scene.image_url.xl }}"><img src="{{ scene.image_url.m }}"/></a>
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="column is-half">
                    <h3 class="title">File <code>{{ example.filename }}</code></h3>
                    <pre>{{ example.code | safe }}</pre>
                    <hr>
                    <h3 class="title">Render this example</h3>
                    <label class="label">
                        Install LaTeX and ffmpeg (LaTeX is optional)
                        <input class="input" type="text" value="sudo apt-get install -y texlive-full ffmpeg" readonly>
                    </label>
                    <label class="label">
                        Install manim
                        <input class="input" type="text" value="pip install manim" readonly>
                    </label>
                    <div class="field">
                        <div class="control">
                            <a class="button is-primary"
                               href="{{ url_for('example_src', category=example.category, filename=example.filename) }}">
                                <span class="icon"><i class="fas fa-download"></i></span>
                                <span>Download Code</span>
                            </a>
                        </div>
                    </div>
                    {% for scene in example.scenes %}
                        <div class="field">
                            <label class="label">
                                HD render {{ scene.name }}
                                <input class="input" type="text" value="manim {{ example.filename }} {{ scene.name }}"
                                       readonly>
                            </label>
                        </div>
                    {% endfor %}

                    {% for scene in example.scenes %}
                        <div class="field">
                            <label class="label">
                                Full HD render {{ scene.name }}
                                <input class="input" type="text"
                                       value="manim -r 1080,1920 {{ example.filename }} {{ scene.name }}" readonly>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}