{% extends 'base.html' %}

{% block content %}
    <section class="section" id="index">
        <div class="container">
            <div class="example-container">
                {% for example in examples %}
                    <a href="{{ url_for('detail', id_=example.id) }}">
                        <article class="example">
                            <header class="title">{{ example.title }}</header>
                            <div class="content">
                                <img src="{{ example.image.url }}"/>
                            </div>
                        </article>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}