#index .example-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
}

#index .example-container .example {
    padding: 0.5rem;
    background: #f2f2f2;
    border: 1px solid #2a2a2a;
    border-radius: 0.3rem;
}

#index .example-container .example .content {
    text-align: center;
}
